@import 'styles/brand.less';
@import 'styles/typography.less';
@import 'styles/grid.less';

.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
/*  background: @homebackgroundimage;
*/}

header {
  .column(12);
}

article#maincolumn {
  .column(8);
  background-color: "red";
}

sidebar#sidebar {
  .column(4);
}