// Create Color Variables here
// -------------------------

@headerColor: #393939;
@footerColor: #393939;
@underlineColor: #D44072;
@hoverColor: #D44072;



// Typography Variables go here
// -------------------------

@bodyfontfamily: 'Roboto', sans-serif;
@headingfontfamily: ;

@basefontsize: 13px;
@baselineheight: 18px;
@basefontcolor: #000;
@basefontweight: light;

@headingfontweight: bold;

// Image Variables go here
// -------------------------

@homebackgroundimage: url('assets/astro_3.jpg');

